body {
   color: White;
   background: Black;
   font-family: 'g';
}
.d2 {
   line-height: 1.8;
   /*font-size: 17px; */
}
.d3 {
   width: 60px;
   height: 60px;
   margin: auto;
}
@font-face {
    font-family: 'g';
    src: url('broken_drive.tff') format('ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Bruney';
    src: url(Bruney.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
