body {
   color: White;
   background: Black;
   font-family: 'g';
}
.d2 {
   line-height: 1.8
}
@font-face {
    font-family: 'g';
    src: url('Faberge.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Bruney';
    src: url(Bruney.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
