body {
   color: White;
   background: #121212;
   font-family: 'Italiana';
}
.d2 {
   line-height: 2.0;
   font-size: 22px;
   margin: 10px 5px;
}
.d3 {
   width: 60px;
   height: 60px;
   margin: -480px auto 0;
}
input {
   color: White;
   background: Black;
   width: 180px;
   height: 35px;
   text-align: center;
   border-radius: 50px;
}
button {
   height: 30px;
   margin-left: 10px;
}
a {
   color: White;
   text-decoration: none;
   margin-left: 40px;
}


@font-face {
    font-family: 'Italiana';
    src: url('Italiana-Regular.woff') format(woff);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Bruney';
    src: url(Bruney.woff) format(woff);
    font-style: normal;
    font-weight: normal;
}
